<html xmlns="https://www.w3.org/1999/xhtml" >
<head>
  <title>Chez Marcel</title>
  <link rel="icon" href="https://s3-us-west-1.amazonaws.com/my-data-repo/photos/all-photos/img-765.jpg">
  <link type="text/css" rel="stylesheet" href="static/css/lightgallery.css" />
  <link type="text/css" rel="stylesheet" href="static/css/icons.css" />
</head>

<body>

<style>
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}

section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}


section h3 {
  position: absolute;
  top: 95%;
  left: 85%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #df80ff ;
  font : normal 300 30px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
  font-weight: 300
}

section .scroll-teaser {
  padding-top: 60px;
  border-radius: 5px;
}
section .scroll-teaser span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}

section .nav-toggler span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

.nav-toggler{
  position: absolute;
  bottom: 79%;
  left: 95%;
}
.section .scroll-teaser {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.section nav-toggler {
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo .scroll-teaser:hover {
  opacity: .5;
}

.demo .nav-toggler:hover {
  opacity: .5;
}

.prev-link {

  height: 80px;
  width: 100px;

}

.prev-link img{
  border-radius: 5px;
  cursor: pointer;
  float: left;
  overflow: hidden;
  height: 100%;
  border: 2px solid #FFF;
  border-radius: 4px;
  margin-bottom: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



</style>
<link rel="stylesheet" type="text/css" href="static/css/jquery.fullpage.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="static/js/jquery.easings.min.js"></script>
<script type="text/javascript" src="static/js/scrolloverflow.min.js"></script>
<script type="text/javascript" src="static/js/jquery.fullpage.js"></script>
<script src="static/js/lightgallery.js"></script>
<script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<script src="static/js/lg-thumbnail.js"></script>
<script src="static/js/lg-fullscreen.js"></script>
<script src="static/js/lg-video.js"></script>
<script src="static/js/lg-hash.js"></script>
  <script>

    toggle_nav = function(){
      var navbar = document.getElementById('fp-nav');
      if (navbar.style.visibility == "hidden"){
        navbar.style.visibility = ""
      } else {
        navbar.style.visibility = "hidden"
      }
    }
  </script>

<div id="fullpage">
<% for(var i=0; i<photos.length; i++) { %>
  <%if (i == 0) { %>

  <section id="welcome-section" class="section" style="background: url(https://s3-us-west-1.amazonaws.com/my-data-repo/photos/all-photos/img-50.jpg) center center / cover no-repeat;">

    <h1>Welcome to Chez Marcel.</h1>
    <h3>(Happy Birthday Kira)</h3>
    <a class="scroll-teaser" id="link-<%= photos[0].section %>"><span></span>Scroll</a>
  </section>
  <% } %>
  <section id="<%= photos[i].section %>-section" class="section" style="background: url(https://s3-us-west-1.amazonaws.com/my-data-repo/photos/all-photos/<%= photos[i].img_src %>) center center / cover no-repeat;">
    <h1><%= photos[i].section %></h1>
    <%if (i+1 === photos.length) { %>
      <a><span></span>Back to Top</a>

      <%}%>
  </section>
<% } %>
<script>
let anchors = ['Welcome']
<% for (i=0; i< photos.length; i++) { %>
  anchors.push('<%= photos[i].section %>')
<% } %>
$(document).ready(function() {
	$('#fullpage').fullpage({
		//Navigation
		menu: '#menu',
		lockAnchors: false,
    anchors: anchors,
		navigation: true,
		navigationPosition: 'right',
		navigationTooltips: anchors,
		showActiveTooltip: false,
		slidesNavigation: false,
		slidesNavPosition: 'bottom',


		//Scrolling
		css3: true,
		scrollingSpeed: 700,
		autoScrolling: true,
		fitToSection: true,
		fitToSectionDelay: 1000,
		scrollBar: false,
		easing: 'easeInOutCubic',
		easingcss3: 'ease',
		loopBottom: false,
		loopTop: false,
		loopHorizontal: true,
		continuousVertical: true,
		continuousHorizontal: false,
		scrollHorizontally: false,
		interlockedSlides: false,
		dragAndMove: true,
		offsetSections: false,
		resetSliders: false,
		fadingEffect: false,
		normalScrollElements: '#element1, .element2',
		scrollOverflow: false,
		scrollOverflowReset: false,
		scrollOverflowOptions: null,
		touchSensitivity: 15,
		normalScrollElementTouchThreshold: 5,
		bigSectionsDestination: null,

		//Accessibility
		keyboardScrolling: true,
		animateAnchor: true,
		recordHistory: true,

		//Design
		controlArrows: true,
		verticalCentered: true,
		sectionsColor : ['#ccc', '#fff'],
		paddingTop: '3em',
		paddingBottom: '10px',
		fixedElements: '#header, .footer',
		responsiveWidth: 0,
		responsiveHeight: 0,
		responsiveSlides: false,
		parallax: false,
		parallaxOptions: {type: 'reveal', percentage: 62, property: 'translate'},

		//Custom selectors
		sectionSelector: '.section',
		slideSelector: '.slide',

		lazyLoading: true,

		//events
		onLeave: function(index, nextIndex, direction){},
    afterLoad: function(anchorLink, index){},
		afterRender: function(){},
		afterResize: function(){},
		afterResponsive: function(isResponsive){},
		afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){},
		onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex){}
	});
});

var photoarray = []
<% for(var i=0; i<photos.length; i++) { %>
  var photoarray_element = []
  var members = <%- JSON.stringify(photos[i].members) %>
var k =0

for (var k=0; k<members.length; k++){
      var record = {
        "src": members[k].src,
        "thumb": members[k].thumb,
        "subHtml": members[k].caption,
        'html': members[k].html
      }
      photoarray_element.push(members[k].lg_entry)
    }
photoarray.push(photoarray_element)
    $("[id='<%- photos[i].section %>-section']").on('click', function() {
      $(this).lightGallery({
          galleryId: encodeURIComponent("<%- photos[i].section %>"),
          dynamic: true,
          dynamicEl: photoarray[<%- i %>]
        })
      })
<% } %>

</script>
</div>
<!-- End of Full Page Elements -->

<div id="song-player">
  <a>
      <span class="prev-button"><ul class="lg-dropdown" style="position: absolute;"><i id="prev-button" class="fa fa-step-backward"></i><span></span></ul></span>
  </a>
  <a>
      <span class="play-button"><ul class="lg-dropdown" style="position: absolute;"><i id="play-button" class="fa fa-play"></i><span></span></ul></span>
  </a>
  <a>
      <span class="next-button"><ul class="lg-dropdown" style="position: absolute;"><i id="next-button" class="fa fa-step-forward"></i><span></span></ul></span>
  </a>
    <span class="now-playing" id='now-playing'></span>
</div>

<script>

class PlayList {
  constructor(playbutton, nowplaying, tracklist) {
    this.nowplaying = nowplaying
    this.playbutton = playbutton
    this.trackLabels = tracklist
    this.tracklist = Object.keys(this.trackLabels);
    this.currentTrackIndex = 0
    this.currentTime = 0
    this.audio = new Audio(this.tracklist[this.currentTrackIndex])
    this.audio.player = this
    this.audio.onended = function(){
      this.player.next()
      this.player.play()
    }
  }

  updateNowPlaying(){
    this.nowplaying.innerHTML = this.trackLabels[this.tracklist[this.currentTrackIndex]]
  }

  play(){
    this.playbutton.classList.remove('fa-play')
    this.playbutton.classList.add('fa-pause')
    this.updateNowPlaying()
    this.audio.play();
  }

  pause(){
    this.playbutton.classList.remove('fa-pause')
    this.playbutton.classList.add('fa-play')
    this.audio.pause();
  }

  toggle(){
    if (this.audio.paused){
      this.play()
    } else {
      this.pause()
    }
  }


  next(){

    if (!this.audio.paused){
      this.pause()
    }
    if (this.currentTrackIndex == this.tracklist.length - 1){
      this.currentTrackIndex = 0
      console.log("setting current track index to 0")
    } else {
      this.currentTrackIndex = this.currentTrackIndex + 1
      console.log("setting current track index to " + this.currentTrackIndex )
    }
    this.audio = new Audio(this.tracklist[this.currentTrackIndex])
    this.audio.player = this
    this.audio.onended = function(){
      this.player.next()
    }
    this.play()
  }
  previous(){
    if (!this.audio.paused){this.pause()}
    if (this.audio.currentTime == 0){
      if (this.currentTrackIndex == 0){
        this.currentTrackIndex = this.tracklist.length - 1
      } else {
        this.currentTrackIndex = this.currentTrackIndex - 1
      }
      this.audio = new Audio(this.tracklist[this.currentTrackIndex])
    } else {
      this.audio.currentTime = 0
    }
    this.updateNowPlaying()
  }
}

let tracks_info = {
  "west-coast.mp3": "West Coast.",
  "be-our-guest.mp3":"Be Our Guest.",
  "flower-duet.mp3": "Flower Duet.",
  "misty-mountains.mp3": "Misty Mountains.",
  "we-know-the-way.mp3": "We Know the Way.",
  "americas-test-kitchen.mp3": "Americas Test Kitchen.",
  "eh-gia.mp3":"Eh...gia.",
  "frozen-in-summer.mp3": "Frozen in Summer.",
  "apple-bottoms.mp3": "Apple Bottom Jeans.",
  "sherlock.mp3": "Sherlock.",
  "avatar.mp3": "Avatar Theme Song.",
  "fascinating-r.mp3": "Fasctinating Rhythm.",
  "frasier.mp3": "Frasier.",
  "harry-potter.mp3": "Hedwig's Theme.",
  "hamilton-1.mp3": "Alexander Hamilton.",
  "curb.mp3": "Curb Your Enthusiam.",
  "frasier-song.mp3": "Frasier.",
  "typewriter.mp3": "Typewriter.",
  "egg-song.mp3": "Eggs.",
  'exit-music.mp3': "Exit Music (For a Film).",
  'baby-beluga.mp3': 'Baby Beluga.'
}

let tracks = {}
let s3_audio_prefix = "https://s3-us-west-1.amazonaws.com/my-data-repo/audio/"
for (var key in tracks_info) {
    if (tracks_info.hasOwnProperty(key)) {
        tracks[s3_audio_prefix + key] = tracks_info[key]
    }
}

let now_playing = document.getElementById("now-playing")
let play_button = document.getElementById("play-button")
let myPlayList = new PlayList(play_button, now_playing, tracks)

$('#play-button').on('click', function(){
  myPlayList.toggle()
})

$('#next-button').on('click', function(){
  myPlayList.next()
})

$('#prev-button').on('click', function(){
  myPlayList.previous()
})


</script>
<span style='display:none'>I take no credit for the audio on this site. Each song belongs to its registered publisher, and I take no credit for the audio.</span>
</body>
